@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #f4ecdc;
    margin: 0 20% 0 20%;
}

li, a, button {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #395f50;
    text-decoration: none;
}

.nav-logo {
    width: 60px;
    cursor: pointer;
    margin: 0.3em auto 0.3em 20px;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* padding: 30px, 10%; */
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #c6c1b5;
}

button {
    padding: 9px 25px;
    background-color: rgba(129,88,172,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: #f4ecdc;
    margin-right: 1vw;
}

button:hover {
    background-color: #6c4c8a;
}

.logo-header-box {
    background-color: #395f50;
    height: 500px;
    display: flex;
    flex-direction: row;
    background: #395f50 url("Graphics/sacred-belly-bg.png");
    background-size: 2000px;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: right;
}

.logo-header-box-1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-left: 75px */
}

.lg-logo {
    height: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}

h2 {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
}

h3 {
    font-family: "Lato", sans-serif;
    font-weight: 500;
}

.hi {
    color: #395f50;
}

.tagline {
    color: #f4ecdc;
    max-width: 20em;
    text-align: center;
    padding: 0px 20px 0px 20px;
    font-size: 20px;
    font-weight: 300;
}

.logo-header-box-2 {
    width: 50%;
    height: 250px;
}

/* END OF FIRST SECTION */
/* HI, I'M GEMMA */

.im-gem-box {
    display: flex;
    flex-direction: row;
    height: 250px;
    padding: 20px;
}

.gem-and-sons {
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    filter: drop-shadow(0 0 0.5rem #7d7b73);
}

.signed-text {
    color: #395f50;
}

.signature {
    height: 50px;
}

.body-links-block {
    background-color: #395f50;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.body-links li {
    display: inline-block;
    padding: 0px 20px;
    
}

.body-links li a {
    transition: all 0.3s ease 0s;
    color: #c6c1b5;
}

.body-links li a:hover {
    color: #c6c1b5;
}