@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

h1, h2, h3, h4, h5, h6 {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    color: #395f50;
}

p {
    font-family: "Lato", sans-serif;
    color: #395f50;
}

.hidden {
    display: none;
    color: #6c4c8a;
}

body {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    background-color: #f4ecdc;
    /* margin: 0 20% 0 20%; */
    display: flex;
    flex-direction: column;
}

li, a, button {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #395f50;
    text-decoration: none;
}

.nav-logo {
    width: 60px;
    cursor: pointer;
    margin: 0.3em auto 0.3em 20px;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* padding: 30px, 10%; */
}

.nav-links li {
    display: inline-block;
    padding: 0px 15px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #c6c1b5;
}

button {
    padding: 9px 25px;
    background-color: rgba(129,88,172,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: #f4ecdc;
    margin-right: 1vw;
}

button:hover {
    background-color: #6c4c8a;
}

.logo-header-box {
    background-color: #395f50;
    height: 500px;
    display: flex;
    flex-direction: row;
    background: #395f50 url("Graphics/sacred-belly-bg.png");
    background-size: 2000px;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: right;
}

.logo-header-box-1 {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-left: 75px */
}

.lg-logo {
    height: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}

.hi {
    color: #395f50;
    margin-top: 10px;
}

.tagline {
    color: #f4ecdc;
    max-width: 20em;
    text-align: center;
    padding: 0px 20px 0px 20px;
    font-size: 20px;
    font-weight: 300;
}

/* END OF FIRST SECTION */
/* HI, I'M GEMMA */

.im-gem-box {
    display: flex;
    flex-direction: row;
    height: 250px;
    padding: 20px;
    margin-top: 10px;
}

.logo-header-box-2 {
    height: 250px;
}

.gem-and-sons {
    height: 250px;
    margin-left: 20px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    filter: drop-shadow(0 0 0.5rem #7d7b73);
}

.signed-text {
    color: #395f50;
    font-size: 19px;
}

.signature {
    height: 50px;
}

/* GREEN BODY LINKS BLOCK */

.header-divider {
    background-image: url("Graphics/sacred-banner-wide.png");
    background-position: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75px;
    color: #fff9ed;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.block-header {
    color: #fff9ed;
}

/* END OF GREEN BODY LINKS BLOCK */
/* TREATMENTS */

.price {
    text-align: center;
    color: #395f50;
}

.treatment-header {
    text-decoration: underline;
    font-weight: 700;
    margin-bottom: 0px;
    margin-top: 10px;
}

#treatments img {
    width: 40%;
}

#packages img {
    width: 40%;
}

.section-subheading {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    max-width: 750px;
}

.section-subheading:first-child {
    margin-bottom: 0px;
}


.treatment-outer {
    display: flex;
    flex-direction: row;
    background-color: #fff9ed;
    margin-bottom: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}


.treatment-outer img {
    margin-left: auto;
    margin-right: auto;
}

.treatment-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    max-width: 50%;
}

.pricing {
    margin-bottom: 6px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    display: flex;
    flex-direction: inline-row;
    align-items: center;
}

.pricing button {
    margin-left: 20px;
}

.long-image {
    background-image: url("./Graphics/massage-closeup.jpg");
    background-position: center;
    background-size: 500px;
    width: 50%;
    margin: 40px 20px 40px 20px;
    filter: drop-shadow(0 0 0.5rem #7d7b73);
}

.long-image2 {
    background-image: url("./Graphics/magic-bowls.jpg");
    background-position: center;
    background-size: 500px;
    width: 50%;
    margin: 40px 20px 40px 20px;
    filter: drop-shadow(0 0 0.5rem #7d7b73);
}

@media (min-width: 1000px) {
    body{
        width: 1000px;
    }
}